/*IMPORTANCION FUENTE*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

//VARIABLES//
$color1:rgb(30, 30, 30);
$color2:rgb(35, 35, 35);
$color3:rgb(40, 40, 40);
$color4:rgb(80, 80, 80);
$textA:#0E76A8;
$textB:grey;

/*NORMALIZACION*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html{
    overflow-x: hidden
}
body{
    overflow-x: hidden
}

/*AUTOFILL BG*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px $color2 inset !important;
  -webkit-text-fill-color: white !important;
}

/*CONTEINER GRAL STYLE*/
.conteinerGral{
    height: auto;
    width: 100vw;
    position: relative;
}

/*STYLES*/
@import "./styleComponents/splashScreen";
@import "./styleComponents/barraDerecha";
@import "./styleComponents/barraIzqSup";
@import "./styleComponents/homeScreen";
@import "./styleComponents/skillsScreen";
@import "./styleComponents/workScreen";
@import "./styleComponents/contactScreen";

@media (max-width: 768px){
    @import "./styleComponents/barraDerecha";
    @import "./styleComponents/barraIzqSupMobile";
    @import "./styleComponents/homeScreenMobile";
    @import "./styleComponents/skillsScreenMobile";
    @import "./styleComponents/workScreenMobile";
    @import "./styleComponents/contactScreenMobile";
}

