.barraDerecha{
    height: 100vh;
    width: 8vw;
    background-color: $color1;
    position: fixed;
    right: 0;
    top: 0;
    border-left: solid 3px $color3;
    transform: translateX(100%);
    transition: all 2s ease;
    z-index: 1000;
    box-shadow: 0px 0px 50px $color3;
    #miniCris{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 12vh;
        transform: translateX(-90%);
        filter:grayscale(100%);
        transition: all 750ms ease;
        opacity: 0%;
    }
    .logoSec{
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            height: 40%;
            #logo{
                fill: rgba(255, 255, 255, 0.1);
                transition: all 1s ease;
                transform-origin: center;
                opacity: 0%;
            }
            #logo:hover{
                fill: rgba(255, 255, 255, 0.5);
                transform: scale(0.8);
                cursor: pointer;
            }
        }
    }
    .marcadoresSec{
        height: 70vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .marcadores{
            height: 60%;
            width: 4px;
            background-color: $color2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .marcador{
                height: 40px;
                width: 6px;
                background-color: #0E76A8;
                transition: all 1s ease;
                cursor: pointer;
            }
            .marcador:hover{
                transform: rotate(360deg);
                box-shadow: 0px 0px 30px 4px #0E76A8;
            }
            .active{
                box-shadow: 0px 0px 15px 4px #0E76A8;
            }
        }
    }
    .counterSec{
        height: 15vh;
        width: 100%;
        .counter{
            line-height: 15vh;
            text-align: center;
            font-size: 20px;
            font-weight: 800;
            color: $color4;
        }
    }
}