.workScreen{
    min-height: 100vh;
    width: 100vw;
    background-color: $color1;
    position: relative;
    h1{
        position: absolute;
        top: 5vh;
        left: 6vw;
        color: $textA;
        font-size: 100px;
    }
    h2{
        position: absolute;
        color: $textB;
    }
    .work{
        height: 100vh;
        width: 100vw;
        padding: 18vh 10vw 5vh 6vw;
        display: flex;
        .projectThumbail{
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
        }
        .projectDescription{
            height: 100%;
            width: 50%;
            padding-left: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .description{
                height: 20%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    padding-right: 50px;
                    padding-left: 50px;
                    font-size: 25px;
                    color: $color4;
                }
            }
            .botonera{
                height: 5%;
                width: 100%;
                display: flex;
                margin: 50px 0px 50px 0px;
                justify-content: space-around;
                align-items: center;
                button{
                    width: 30%;
                    height: 100%;
                    border: solid 4px $textA;
                    background-color: $color3;
                    color: $color4;
                    font-weight: bold;
                }
                button:hover{
                    box-shadow: 0px 0px 20px $textA;
                    background-color: $color1; 
                    transition: all 500ms ease;  
                    color: grey;                
                }
            }
            .softs{
                height: 20%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                img{
                    width: 15%;
                    filter: grayscale(100%);
                    transition: all 1s; 
                }
                img:hover{
                    
                    filter: grayscale(0%); 
                }
            }
        }
    } 
}